<div class="container">
  <form>
    <input type="text" placeholder="@username" name="username">
    <input type="submit" value="View Tweets">
  </form>

  <div class="hidden">
    <%= erb :_tweets, :layout => false %>
  </div>
</div>
